In [ ]:
# mport libraries
import pandas as pd
import numpy as np

In [ ]:
# Load data and display first 5 rows
bank_df = pd.read_csv("../data/raw_data/bank-additional-full.csv",sep=';')
bank_df.head()

In [ ]:
# Drop duplicate rows
bank_df_unique = bank_df.drop_duplicates(keep='first')
bank_df_unique.shape

In [ ]:
# Get null count and percentage. Converted value "Unknown" to nan.
def get_null_count_perc(df):
    
    df_copy = df.copy()
    for i in df_copy.columns:
        df_copy[i] = np.where(df_copy[i] == "unknown", np.nan, df_copy[i])
    null_count = df_copy.isnull().sum()

    # Get percentage of null values in each column
    total_rows = len(df_copy)
    null_percentage = (null_count / total_rows) * 100

    # Create a DataFrame to display the results
    result_df = pd.DataFrame({'Null Count': null_count, 'Null Percentage': null_percentage})
    return result_df
get_null_count_perc(bank_df_unique)

In [ ]:
def cross_tab(df,f1,f2):
    jobs=list(df[f1].unique())
    edu=list(df[f2].unique())
    dataframes=[]
    for e in edu:
        dfe=df[df[f2]==e]
        dfejob=dfe.groupby(f1).count()[f2]
        dataframes.append(dfejob)
    xx=pd.concat(dataframes,axis=1)
    xx.columns=edu
    xx=xx.fillna(0)
    return xx

In [ ]:
cross_tab(bank_df_unique,'job','education')

#### Infrence
--------------
For admin job above 60% is having university degree in the dataset. <br>
For blue collar job education is basic in the dataset.<br>
entrepreneur is not following any pattern. <br>
For House maid job around 50% is havingbasic4y degree in the dataset. <br>
For Management job above 70% is having university degree in the dataset. <br>
For self-employed job above 50% is having university degree in the dataset. <br>
For services job above 60% is having high school degree in the dataset. <br>
For technician job above 50% is having professional course degree in the dataset.

In [ ]:
bank_df_unique['job'][bank_df_unique['age']>60].value_counts()

Job greater than 60 is retired in 65% of cases and which definitely makes sense

In [ ]:
# Impute missing values in Job and education : Assuming Job is influenced by education


bank_df_unique.loc[(bank_df_unique['age']>60) & (bank_df_unique['job']=='unknown'), 'job'] = 'retired'

bank_df_unique.loc[(bank_df_unique['education']=='unknown') & (bank_df_unique['job']=='management'), 'education'] = 'university.degree'
bank_df_unique.loc[(bank_df_unique['education']=='unknown') & (bank_df_unique['job']=='services'), 'education'] = 'high.school'
bank_df_unique.loc[(bank_df_unique['education']=='unknown') & (bank_df_unique['job']=='housemaid'), 'education'] = 'basic.4y'
bank_df_unique.loc[(bank_df_unique['education']=='unknown') & (bank_df_unique['job']=='admin'), 'education'] = 'university.degree'
bank_df_unique.loc[(bank_df_unique['education']=='unknown') & (bank_df_unique['job']=='technician'), 'education'] = 'professional.course'



bank_df_unique.loc[(bank_df_unique['job'] == 'unknown') & (bank_df_unique['education']=='basic.4y'), 'job'] = 'blue-collar'
bank_df_unique.loc[(bank_df_unique['job'] == 'unknown') & (bank_df_unique['education']=='basic.6y'), 'job'] = 'blue-collar'
bank_df_unique.loc[(bank_df_unique['job'] == 'unknown') & (bank_df_unique['education']=='basic.9y'), 'job'] = 'blue-collar'
bank_df_unique.loc[(bank_df_unique['job']=='unknown') & (bank_df_unique['education']=='professional.course'), 'job'] = 'technician'
bank_df_unique.loc[(bank_df_unique['job']=='unknown') & (bank_df_unique['education']=='university.degree'), 'job'] = 'management'
bank_df_unique.loc[(bank_df_unique['job']=='unknown') & (bank_df_unique['education']=='high.school'), 'job'] = 'services'
bank_df_unique.loc[(bank_df_unique['job']=='unknown') & (bank_df_unique['education']=='basic.4y'), 'job'] = 'housemaid'

In [ ]:
cross_tab(bank_df_unique,'job','education')

In [ ]:
cross_tab(bank_df_unique,'job','housing')

#### Inference : There is no relation between job and housing (has housing loan?)

In [ ]:
get_null_count_perc(bank_df_unique)

In [ ]:
bank_df_unique['pdays'].value_counts()

pdays - numeric; 999 means client was not previously contacted

Creating a new categorical column with values as client not contacted, contacted_less_than_5day, contacted_5_15day, contacted_greaterthan_15day

In [ ]:
conditions = [
    (bank_df_unique['pdays'] == 999),
    (bank_df_unique['pdays'] >= 0) & (bank_df_unique['pdays'] <= 5),
    (bank_df_unique['pdays'] > 5) & (bank_df_unique['pdays'] <= 15),
    (bank_df_unique['pdays'] > 15)
]
values = ['not_contacted', 'contacted_less_than_5day', 'contacted_5_15day', 'contacted_greaterthan_15day']

In [ ]:
bank_df_unique['pdays_category'] = np.select(conditions, values)

In [ ]:
bank_df_unique['pdays_category'].value_counts()

In [ ]:
# Dropping pdays
bank_df_unique = bank_df_unique.drop('pdays', axis=1)

In [ ]:
# Dropping duration
bank_df_unique=bank_df_unique.drop(['duration'],axis=1)

In [ ]:
# One hot encoding
bank_df_unique = pd.get_dummies(bank_df_unique,drop_first=True)

In [ ]:
bank_df_unique.columns

In [ ]:
bank_df_unique = bank_df_unique.rename(columns={'y_yes': 'y'})

In [ ]:
bank_df_unique.to_csv("../data/processed_data/bank-additional-full-processed.csv",index = False)

In [ ]:
###############################################################################################################

In [ ]:
### Input for prediction
d = {'age': [56],
 'job': ['housemaid'],
 'marital': ['married'],
 'education': ['basic.4y'],
 'default': ['no'],
 'housing': ['no'],
 'loan': ['no'],
 'contact': ['telephone'],
 'month': ['may'],
 'day_of_week': ['mon'],
 'duration': [261],
 'campaign': [1],
 'pdays': [999],
 'previous': [0],
 'poutcome': ['nonexistent'],
 'emp.var.rate': [1.1],
 'cons.price.idx': [93.994],
 'cons.conf.idx': [-36.4],
 'euribor3m': [4.857],
 'nr.employed': [5191.0]}